<?xml version='1.0'?>
<model>
  <name>HBP FZI LauronV</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Lars Pfotzer</name>
    <email>pfotzer@fzi.de</email>
  </author>

  <description>
    Six-legged walking robot LauronV - Extended HBP Model - FZI Forschungszentrum Informatik
  </description>
</model>
